@import '../../variables.scss';

.search-box-container {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    height: 5vh;
    background-color: $background-color-yellow;

    .ml-logo {
        height: 30px;
        width: auto;
    }
}

.search-box {
    display: flex;
    flex-direction: row;
    margin: 0px;



    input {
        border: none;
        border-radius: 2px 0px 0px 2px;
        padding-left: 10px;
        width: 500px;
        height: 25px;
    }

    input:focus {
        outline: 1px solid $background-color-grey-dark;
        z-index: 6;
    }

    .btn:focus {
        outline: none;
    }


    .btn {
        background-color: $background-color-grey-light;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 26.99px;
        cursor: pointer;
        border: none;
        border-radius: 0px 2px 2px 0px;

        img {
            height: auto;
            width: 15px;
        }
    }

}


::placeholder {
    color: $background-color-grey-dark;
}