@import "../../variables.scss";

.product-card-container {
    width: 70%;
    height: 135px;
    background-color: $color-white;
    margin: 0px auto 0px auto;
    padding-top: 10px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 150px auto 15%;
    grid-template-areas:
        "img desc city";

    img {
        padding-left: 15px;
        grid-area: img;
        width: 120px;
        border-radius: 4px;
        height: auto;
        align-self: center;
    }

    section {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-size: 20px;
            font-weight: bold;
        }

        p {
            line-height: 20px;
            word-wrap: break-word;
            width: 45vw;
            margin: 0px;
        }

        a {
            text-decoration: none;
            color: $color-black;
        }
    }

    .city {
        padding: 30px 0px 0px 0px;
        width: min-content;
        grid-area: city;
        height: min-content;
        text-align: start;
        font-size: 12px;
        color: $background-color-grey-darker
    }

    hr {
        width: 98%;
        color: $background-color-grey-dark;
        opacity: 0.1;
        grid-column: 1/4;
        margin: 0px auto 0px auto;
    }

}