// Colors
$color-black: #000000;
$color-white: #FFF;
$background-color-yellow: #FEE600;
$background-color-grey-light: #F4F4F4;
$background-color-grey-dark: #A4A4A4;
$background-color-grey-darker: #757575;