@import "../../variables.scss";

.product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        width: 65%
    }
}

.product-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    width: 65%;
    margin: 0px auto 0px auto;
    font-family: Roboto;
    text-align: left;
    background-color: $color-white;
    border-radius: 4px;

    .product-description-container {
        width: auto;
        padding-left: 25px;

        p {
            font-size: 14px;
            width: auto;
            color: $background-color-grey-dark
        }
    }

    .product-details-container {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        margin-top: 20px;

        span {
            font-size: 11px;
            font-family: Arial, Helvetica, sans-serif;
        }

        h3 {
            word-wrap: break-word;
            font-size: 16px;
            padding-right: 15px;
            margin-top: 10px;
        }

        h1 {
            margin: 0;
            font-size: 25px;

            span {
                vertical-align: super;
                margin-left: 5px;
                font-size: 14px;
            }
        }

        button {
            background-color: $background-color-blue;
            border: none;
            border-radius: 3px;
            color: $color-white;
            font-family: Roboto;
            width: 90%;
            margin-top: 15px;
            height: 30px;
            cursor: pointer;
        }
    }
}